.headers{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
    background-color: #333;
}

.headers h2 {
    color: #fff;
    font-weight: bold;
}